* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.back {
    text-decoration: none;
    display: inline-block;
}
.back:hover {
    text-decoration: none;
}
body {
    background-color: #f1f1f1 !important;
}
.title {
    text-transform: capitalize;
    margin-bottom: 30px;
    color: #4a4a4a;
}
.custom-img {
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 15px;
    transition: all .3s;
    padding: 5px;
    border: 1px solid #7d7d7d;
}
.custom-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all .3s;
    border-radius: inherit;
}
.custom-img:hover {
    box-shadow: 3px 3px 12px 0px #888;
}

.custom-img:hover img {
    transform: scale(1.2);
}
.modal-img {
    overflow: hidden;
    height: 400px;
    position: relative;
}
.img-overlay {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity .3s;
}
.img-overlay::after {
    content: 'Click to See Full Image';
    display: block;
    color: #fff;
    font-size: 30px;
    transform: translate3d(30%, 400%, 0);
}
.modal-img:hover .img-overlay {
    opacity: 1;
}
.modal-img img {
    width: 100%;
}
.mt-60 {
    margin-top: 60px;
}
.table th {
    width: 20%;
}
.table .dot {
    width: 5%;
}
.front-background {
    position: absolute;
    height: 400px;
    background-color: #232323;
    width: 100%;
}
.img-index {
    width: 70%;
    margin: 5px 0 40px;
    background-size: 100%;
    border-radius: 5px;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 5px 0 #5f5f5f;
}
.someone {
    margin-top: 40px;
    color: #fff;
}

@media(max-width: 768px) {
    .title {
        margin-bottom: 15px;
    }

    .img-index {
        width: 100%;
    }

    .title {
        margin-bottom: 30px;
    }

}

@media(max-width: 992px) {
    .card-img-top {
        height: 100%;
        object-fit: cover;
    }

    .img-overlay::after {
        transform: translate3d(20%, 400%, 0);
    }
}

@media(max-width: 576px) {
    .img-overlay::after {
        transform: translate3d(14%, 400%, 0);
    }
}
